body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.navbar {
    background-color: #7C606B;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar-link {
    margin-right: 2px;
}


.jumbotron {
    color: #EED5C2;
    text-align: center;
    padding: 100px 0;
    background-color: #EDA4BD;
}

.jumbotron h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    background-color: #7C606B;
}

.section {
    text-align: center;
    padding: 50px 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.testo{
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 20;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sottotitolo{
    font-size: 30;
}

.titolo{
    font-size: 20;
}

.indirizzo{
    color: rgb(155, 155, 155);
    font-size: 25;
}

.card-body{
    background-color: #EED5C2
}

